
<style>
    body{
        background:blanchedalmond;
    }
</style>


<!DOCTYPE html>
<html>
<head>
    <title>Farm Management</title>
</head>
<body>
    <h1>Welcome to the Farm Management System</h1>
    <ul>
        <li><a href="{{ links.animal_list }}">Animal List</a></li>
        <li><a href="{{ links.animal_type_list }}">Animal Type List</a></li>
        <li><a href="{{ links.feed_list }}">Feed List</a></li>
        <li><a href="{{ links.employee_list }}">Employee List</a></li>
    </ul>
</body>
</html>

